<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{asset "built/index.css"}}" />

  <script src="{{asset "built/index.js"}}" defer></script>

  {{!-- Allow templates to override the document title via {{#contentFor "title"}} --}}
  {{#if (block "title")}}
    <title>{{{block "title"}}}</title>
  {{else}}
    <title>{{meta_title}}</title>
  {{/if}}

  {{ghost_head}}
  {{{block "head"}}}
  <noscript><style>.reveal{opacity:1;transform:none}</style></noscript>
  {{!-- Outputs important meta data and settings, should always be in

  <head> --}}
  </head>

<body class="font-sans font-normal antialiased text-gray-900 scroll-smooth bg-offwhite {{body_class}}">
  {{!-- Content will be inserted here by child templates --}}
  {{{body}}}
  {{ghost_foot}}
</body>

</html>
